
//- Mиксин для навигации
mixin menu(items, ulClass, liClass)
	ul(class=ulClass)
		each item in items
			li(class=liClass)
				a(href=item.url)= item.title
//-Use +menu(navHeader, 'nav__list', 'nav__item')

//- Mиксин для кнопки
mixin button(text='Кнопка', className='button', type='button')
	button(type=type, class=className)= text
//-Use +button('Войти через VK', 'vk-login', 'button')

//- Mиксин для кнопки-ссылки
mixin link(className, text, href='#')
	a(class=className, href=href)= text
//-Use +link('my-link-class', 'Перейти к каталогу', './pages/catalog.html')

//- Mиксин для списка ul
mixin list(items, ulClass, liClass)
	ul(class=ulClass)
		each item in items
			li(class=liClass)= item
//-Use +list(['Пункт 1', 'Пункт 2', 'Пункт 3'], 'my-ul-class', 'my-li-class')

//- Mиксин для категории и подкатегорий каталога

mixin categoryList (categories)
	ul(class='category__list')
		each category in categories 
			li(class='category__item')
				h3(class='category__title')= Object.keys(category)[0]
					ul(class='sub-category__list')
						each subcategory in category[Object.keys(category)[0]]
							li(class='sub-category__list')
								a(class='sub-category__link', href=subcategory.url)= subcategory.name

mixin menuFooterSubCategories(subcategories)
	ul(class='menu-footer__sub-list')
		each subcategory in subcategories
			li(class='menu-footer__sub-item')
				a(href=subcategory.url)= subcategory.name

mixin img(className, src, alt, width, height, ext)
	picture
		source(type='image/webp' srcet=`${src}@1x.webp 1x, ${src}@2x.webp 2x` media="(min-width: 600px)" width=width height=height)
		source(type='image/webp' srcet=`${src}@1x.webp 1x, ${src}@2x.webp 2x` media="(min-width: 1200px)" width=width height=height)
		source(type=`image/${ext}` srcet=`${src}@1x.${ext} 1x, ${src}@2x.${ext} 2x` media="(min-width: 600px)" width=width height=height)
		source(type=`image/${ext}` srcet=`${src}@1x.${ext} 1x, ${src}@2x.${ext} 2x` media="(min-width: 1200px)" width=width height=height)
		img(class=className src=`${src}@1x.${ext}`, alt=alt, width=width, height=height)

//- Миксин для svg SVG картинки из стека
mixin inlineSvg(className, width, height, id, fill, stroke)
	svg(class=className, width=width, height=height, fill=fill, stroke=stroke, viewBox='0 0 ' + width + ' ' + height, xmlns="http://www.w3.org/2000/svg")
		use(xlink:href=`../images/icons/stack.svg#${id}`)

//- Миксин для input
mixin inputField(label, type, name, id, placeholder)
	label(for=id)= label
	input(type=type, name=name, id=id, placeholder=placeholder)
//-Use +inputField('Search', 'text', 'name-search', 'id-search', 'Введите placeholder')

//-Миксин для отдельного checkbox
mixin checkbox(name, checked, id, labelText)
	input(type="checkbox", name=name, checked=checked, id=id)
	label(for=id)= labelText

//-Миксин для списка checkbox цена с количеством едениц товара
mixin priceCheckboxList(priceCheckboxes)
	ol(class='price-checkbox__list')
		each checkbox, index in priceCheckboxes
			li(class='price-checkbox__item')
				label(class='price-checkbox__label')
					input(class='price-checkbox__input', type="checkbox", name='name_' + index, id='id_' + index)
					|	#{checkbox.description}
					span(class='checkbox__count', id='item_' + index) (#{checkbox.count})

//- Миксин для чекбоксов с брендами и количеством
mixin firmCheckboxList(firmCheckboxes)
	ul(class='firm-checkbox__list')
		each checkbox, index in firmCheckboxes
			li(class='firm-checkbox__item')
				label(class='firm-checkbox__label')
					input(class='firm-checkbox__input', type="checkbox", name='name_' + checkbox.desc, id='id_' + checkbox.desc)
					|	#{checkbox.desc}
					span(class='checkbox__count', id='item_' + index) (#{checkbox.count})

//- Миксин для карточки товара
mixin productList(products)
	ul(class='product-list')
		each product in products
			li(class='product-list__item')
				img(class='product-list__img', src=product.imagePath, alt=product.name)
				h3(class='product-list__title', name=product.name)
				p(class='current-price')= product.price + ' р.'
				span(class='old-price')= product.oldPrice + ' р.'

//- Миксин для меню и подменю footer
mixin menuFooterCategories(categories)
	ul(class='menu-footer__list')
		each category in categories 
			li(class='menu-footer__item')
				h3(class='menu-footer__title')= Object.keys(category)[0]
					+menuFooterSubCategories(category[Object.keys(category)[0]])

mixin menuFooterSubCategories(subcategories)
	ul(class='menu-footer__sub-list')
		each subcategory in subcategories
			li(class='menu-footer__sub-item')
				a(href=subcategory.url)= subcategory.name


mixin listObject(id, items)
	ul(class='nav' id=id)
		each item,key in items
			li.nav__item= item

//+navObject(navHeaderLinks)
//mixin navObject(items)
	ul(class='nav')
		each item, key in items
			li.nav__item
				a(href=`./${key}.html`)= item

//- Миксин для обратной связи в футере
mixin footerCallback(categories)
	ul(class='footer__callback-list')
		each category in categories
			li(class='footer__callback-item')
				a(href=category.url)=category.name

