
//- Mиксин для навигации
mixin menu(items, ulClass, liClass, aClass)
	ul(class=ulClass)
		each item in items
			li(class=liClass)
				a(class=aClass href=item.url)= item.title
//-Use +menu(navHeader, 'nav__list', 'nav__item')

//- Миксин для мобильного меню Главная страница
mixin menuMobileCategories(categories)
	ul(class='mobile-navigation-main__list')
		each category in categories
			li(class='mobile-navigation-main__item')
				h3(class='mobile-navigation-main__title')= Object.keys(category)[0]
					+menuMobileSubCategories(category[Object.keys(category)[0]])
mixin menuMobileSubCategories(subcategories)
	ul(class='mobile-navigation-main__sublist')
		each subcategory in subcategories
			li(class='mobile-navigation-main__subitem')
				a(href=subcategory.url)= subcategory.name

//- Миксин для мобильного меню страница Каталог
mixin menuMobile(items, ulClass, liClass, aClass)
	ul(class=ulClass)
		each item in items
			li(class=liClass)
				a(class=aClass href=item.url)= item.title

//- Mиксин для кнопки
mixin button(text='Кнопка', className='button', type='button')
	button(type=type, class=className)= text
//-Use +button('Войти через VK', 'vk-login', 'button')

//- Миксин для списка кнопок
mixin listButton(...items)
	ol(class='button-list')
		each item in items
			li
				button(class='button' type='button')= item

//- Mиксин для кнопки-ссылки
mixin link(className, text, href='#')
	a(class=className, href=href)= text
//-Use +link('my-link-class', 'Перейти к каталогу', './pages/catalog.html')

//- Mиксин для списка ul
mixin list(items, ulClass, liClass)
	ul(class=ulClass)
		each item in items
			li(class=liClass)= item
//-Use +list(['Пункт 1', 'Пункт 2', 'Пункт 3'], 'my-ul-class', 'my-li-class')

//- Mиксин для категории и подкатегорий каталога
mixin categoryList (categories)
	ul(class='category__list')
		each category in categories
			li(class='category__item')
				h3(class='category__title')= Object.keys(category)[0]
					ul(class='sub-category__list')
						each subcategory in category[Object.keys(category)[0]]
							li(class='sub-category__list')
								a(class='sub-category__link', href=subcategory.url)= subcategory.name
mixin menuFooterSubCategories(subcategories)
	ul(class='menu-footer__sub-list')
		each subcategory in subcategories
			li(class='menu-footer__sub-item')
				a(href=subcategory.url)= subcategory.name

//- Миксин для изображений
mixin img(className, src, alt, width, height, ext)
	picture
		source(type='image/webp' srcset=`${src}@1x.webp 1x, ${src}@2x.webp 2x` media="(min-width: 600px)" width=width height=height)
		source(type='image/webp' srcset=`${src}@1x.webp 1x, ${src}@2x.webp 2x` media="(min-width: 1200px)" width=width height=height)
		source(type=`image/${ext}` srcset=`${src}@1x.${ext} 1x, ${src}@2x.${ext} 2x` media="(min-width: 600px)" width=width height=height)
		source(type=`image/${ext}` srcset=`${src}@1x.${ext} 1x, ${src}@2x.${ext} 2x` media="(min-width: 1200px)" width=width height=height)
		img(class=className src=`${src}@1x.${ext}`, alt=alt, width=width, height=height)

//- Миксин для SVG картинки из стека
mixin inlineSvg(className, width, height, id, fill, stroke)
	svg(class=className, width=width, height=height, fill=fill, stroke=stroke, viewBox='0 0 ' + width + ' ' + height, xmlns="http://www.w3.org/2000/svg")
		use(xlink:href=`../images/icons/stack.svg#${id}`)

//- Миксин для input
mixin inputField(label, type, name, id, placeholder)
	label(for=id)= label
	input(type=type, name=name, id=id, placeholder=placeholder)
//-Use +inputField('Search', 'text', 'name-search', 'id-search', 'Введите placeholder')

//-Миксин для отдельного checkbox
mixin checkbox(name, checked, id, labelText)
	input(type="checkbox", name=name, checked=checked, id=id)
	label(for=id)= labelText

//-Миксин для списка checkbox цена с количеством едениц товара
mixin priceCheckboxList(priceCheckboxes)
	ol(class='price-checkbox__list')
		each checkbox, index in priceCheckboxes
			li(class='price-checkbox__item')
				label(class='price-checkbox__label')
					input(class='price-checkbox__input', type="checkbox", name='name_' + index, id='id_' + index)
					|	#{checkbox.description}
					span(class='checkbox__count', id='item_' + index) (#{checkbox.count})

//- Миксин для чекбоксов с брендами и количеством
mixin firmCheckboxList(firmCheckboxes)
	ul(class='firm-checkbox__list')
		each checkbox, index in firmCheckboxes
			li(class='firm-checkbox__item')
				label(class='firm-checkbox__label')
					input(class='firm-checkbox__input', type="checkbox", name='name_' + checkbox.description, id='id_' + checkbox.description)
					|	#{checkbox.description}
					span(class='checkbox__count', id='item_' + index) (#{checkbox.count})

//- Миксин для карточки товара
mixin productList(products)
	if(productItem)
		ul(class='product-list')
			each product in products
				li(class='product-list__item')
					a(class='poduct-list__link')
						img(class='product-list__img', src=product.imagePath, alt=product.name)
						h3(class='product-list__title')= product.name
						p(class='current-price')= product.price + ' р.'
						span(class='old-price')= product.oldPrice + ' р.'
						if(productItemSeller)
							span(class='product-list__status')= product.status
	if(!productItem)
		ul(class='product-list')
			each product in products
				li(class='product-list__item')
					img(class='product-list__img', src=product.imagePath, alt=product.name)
					h3(class='product-list__title')= product.name
					p(class='current-price')= product.price + ' р.'
					span(class='old-price')= product.oldPrice + ' р.'
					if(productItemSeller)
						span(class='product-list__status')= product.status

//- Миксин для меню и подменю footer
mixin menuFooterCategories(categories)
	ul(class='menu-footer__list')
		each category in categories
			li(class='menu-footer__item')
				h3(class='menu-footer__title')= Object.keys(category)[0]
					+menuFooterSubCategories(category[Object.keys(category)[0]])
mixin menuFooterSubCategories(subcategories)
	ul(class='menu-footer__sub-list')
		each subcategory in subcategories
			li(class='menu-footer__sub-item')
				a(href=subcategory.url)= subcategory.name

//- Миксин для обратной связи в футере
mixin footerCallback(categories)
	ul(class='footer__callback-list')
		each category in categories
			li(class='footer__callback-item')
				a(href=category.url)=category.namе
				a(href=category.url)=category.name

//- Боковое меню для страницы избранное
mixin asideMenu(categories)
	ul(class='aside-menu__list')
		each category in categories
			li(class='aside-menu__item')
				a(href=category.url)= category.name

//- Боковое меню для страницы Настройки калькулятора
mixin asideMenuCalcSettings(categories)
	ul(class='asideMenuCalcSettings__list')
		each category in categories
			li(class='asideMenuCalcSettings__item')
				a(href=category.url)= category.name
